<h1>Welcome to xycraft.us!</h1>
<h2>This is solely the landing page for xycraft.us</h2>
<p>xycraft is only supported by 1.11.2 client versions of Minecraft.</p>
<h2>Join today at play.xycraft.us !</h2>